body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.dadosPessoais ul {
  padding: 0;
}
.dadosPessoais li {
  font-size: small;
  line-height: 1.5rem;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.objetivo {
  margin: 1rem 0 0;
  border: 1px solid rgb(43, 1, 56);
  padding: 0.7rem 0.5rem;
  background-color: #f2dbfa;
}

.blocos {
  display: flex;
  flex-direction: column;
}
h3 {
  margin-top: 3rem;
}
.blocos h3 {
  background-color: rgb(242, 219, 250);
  border-bottom: 1px solid #2b0138;
  padding: 0.5rem;
}
.blocos p {
  margin: 0 auto;
  line-height: 1.5rem;
  width: 95%;
}
.blocos li {
  background-image: url(./assets/libelula.png);
  background-repeat: no-repeat;
  background-position: left;
  list-style: none;
  height: 2rem;
  align-items: center;
  display: flex;
  padding: 0 3rem;
}
.contatos {
  background-color: rgb(242, 219, 250);
  border-radius: 30%;
  padding: 0.5rem;
  margin: 0.5rem;
}
.contatos:hover {
  background-color: rgb(251, 241, 252);
  transition: 0.5s;
}

.menu-contatos {
  display: flex;
  justify-content: right;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .blocos li {
    background-image: url(./assets/libelula.png);
    background-repeat: no-repeat;
    background-position: left;
    list-style: none;
    height: 2rem;
    align-items: center;
    display: flex;
    padding: 1.5rem 3rem;
    margin: 2.5rem 0;
    line-height: 1.8rem;
    text-align: justify;
  }

  .menu-contatos {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    text-align: center;
  }

  .blocos p {
    margin: 0 auto;
    line-height: 1.5rem;
    width: 95%;
    text-align: justify;
  }
  .formacao {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    margin: 3rem 0;
  }
  .idiomas li {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .blocos li {
    background-image: url(./assets/libelula.png);
    background-repeat: no-repeat;
    background-position: left;
    list-style: none;
    align-items: center;
    display: flex;
    padding: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .blocos p {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h1 {
    margin: 2rem auto;
    font-size: 3rem;
  }
}
